<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.earth.najuhwa.dao.BoardMapper">
 	
 	<insert id="insert" parameterType="BoardDTO" >
 		INSERT INTO total_board (title, content, writer, reg_date)
		VALUES(#{title}, #{content}, #{writer}, now())
 	</insert>
 	
 	<select id="selectList" parameterType="SearchItem" resultType="BoardDTO">
 		SELECT bno, title, writer, view_cnt, comment_cnt, reg_date
		FROM total_board
		order by bno desc 
		limit #{pageSize} offset #{offset}
 	</select>
 	
 	<select id="conut" parameterType="SearchItem" resultType="int" >
 		select count(*) from total_board
 	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 