@charset "UTF-8";

body{
   	background-color: #202020;
   	color: #fff;
}
    
.wrap{
   	text-align: center;
   	position: relative;
   	top: 200px;
}
    
.login{
   	color: #33ff33;
   	font-size: 70px;
   	font-weight: 30px;
   	margin: 30px 0;
}
    
.id-pwd{
   	margin: 30px 0;
}
    
.id-pwd div{
   	margin: 20px;
}
    	  
label{
	width: 300px;
	height: 30px;
	margin: 30px 30px;
	font-size: 20px;
    font-weight: 20px;
}
    	
input{
	width: 200px;
	height: 30px;
}

button {
	background-color: #bbbbbb;
	color: #000000;
	width: 200px;
	height: 50px;
	font-size: 26px;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
	margin: 30px;
}

